*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  margin: auto;
  min-height: 100vh;
}
.accordion {
}
.content {
}
.item {
  background-color: #f0ebe1;
  margin: 5px 0;
  padding: 10px 20px;
}
.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.rotate-down {
  transform: rotate(-180deg);
  transition: all 0.3s;
}
.rotate-up {
  transition: all 0.3s;
}
