/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=M+PLUS+Rounded+1c:wght@400;500;700&family=Nunito:wght@400;500;800&display=swap");
/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nunito", sans-serif;
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #1565c0, #b92b27);
  background: linear-gradient(to right, #1565c0, #b92b27);
}
.container {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
}
.accordion {
  width: 380px;
}
.item {
  background-color: #f2f1f9;
  margin: 5px 0;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 1rem;
}
.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  font-size: 0.9rem;
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.rotate-down {
  transform: rotate(-180deg);
  transition: all 0.3s;
}
.rotate-up {
  transition: all 0.3s;
}